*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    position: absolute;
    width: 100%;
    height: 100%;
  
     background-color: #fcfdfe;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width:20%;
    height: 20%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}


.detel{
    margin-top: 5%;
margin-left: 8%;
margin-right: 13%;
}
.detel h1{
    font-size: 50px;
   color: #212121;
   margin-bottom:20px ;

}

span{
    color: orange;
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background:orange; ;
    padding: 10px 20px;
    text-decoration:none;
    font-weight: bold;
    color: #000;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

}
.detel a:hover{
    color: blue;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    border: #212121;
}

.images img.shape{
    height: 60%;
    width: 60%;
    position: absolute;
    left: 50%;
    bottom: 30%;
    
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    border: #212121;
}

.images img.boy{
    height: 50%;
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 30%;
    
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    border: #212121;
}
.images:hover .shape{
   bottom: 50px;
   left: 25px;
   /* width: 50%;
   height:50%; */
}
.images:hover .boy{
    top:45px;
    /* right: 25px; */
    /* height: 50%;
    width: 50%; */
}
.hey:hover{
color: orangered;
}